.root {
  width: 500px;
  height: 95vh;
  min-width: 30%;
  min-height: 10em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 55px;
  overflow: visible;
  z-index: 2;
  margin: 15px 2em 2px 2px;
  padding: 5px;
  font-family: Helvetica, Arial, times-new-roman;
  font-size: 18px;
  line-height: 1;
  font-weight: 800;
  color: #ff0c0c;
  border: 0px solid black;
  opacity: 1;
  cursor: pointer;
  transition: color 3s;
  font-style: italic;
  text-decoration-line: overline underline line-through;
  text-decoration-color: #b13030;
  text-decoration-style: double;
  text-shadow: -0.57px 0.82px 46px black;
}
.label {
  align-self: center;
  order: 1;
  border: 20px double black;
  padding: 15px;
  border-radius: 3em 15px 50% 3em;
  background-color: #70ffff;
  box-shadow: -6.88px 9.83px 17px 8px #ef8181;
  cursor: pointer;
  outline: solid cyan;
}
.asdf {
}
.asdfsdf {
}
.sdfsdfsdfsd {
}
.cvbcv {
}
.zxcz {
}
.asdf {
}
.hryt {
}
.oloo {
}
.uilu {
}
.sdfqwe3 {
}
.qwew {
}
.nbnm {
}
.lkujlkjo {
}
.xcvxcv {
}
.asda {
}
.zxczcx {
}
.kjk {
}
.lk {
}
.llllkhhgf {
}
.fswqweqweq {
}
.etryretjf {
}
.fgnbl {
}
.ccvbx {
}
.xcdscv {
}
.nmkgh {
}
.nbnmnmn {
}
.nmnmhjmgfd {
}
.dfhgyhdf {
}
.stu {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  background-image: radial-gradient(
    circle at 50% 50%,
    #ff0000 0%,
    #0b0202 48%,
    #ff0000 76%,
    #000000 100%
  );
  background-position: 0%;
  background-size: auto;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  color: orange;
}
.iniputput {
}
